//Rename secrets.yaml.template to secrets.yaml and replace values for real
apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: secrets
stringData:
  MONGODB_ROOT_USER: value
  MONGODB_ROOT_PASSWORD: value
  RABBITMQ_USER: value
  RABBITMQ_PASSWORD: value
  MONGO_DSN: value
  RABBITMQ_DSN: value